<h1>My Todo's</h1>
<div class="container"></div>
<table class="table">
    <caption>My Todo's</caption>
    <thead>
        <tr>
            <th>Description</th>
            <th>Target Date</th>
            <th>Is completed</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let one of todos">
            <!-- <td>{{one.id}}</td> -->
            <td>{{one.description}}</td>
            <td>{{one.targetDate | date | uppercase}}</td>
            <td>{{one.done}}</td>
        </tr>
    </tbody>
</table>